

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "맑은 고딕", sans-serif;
    line-height: 1.6;
    color: #333;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
#header {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    h1 {
        grid-column: 1;
        justify-content: flex-start;
    }
    ul {
        grid-column: -1;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        padding-right: 30px;
        justify-content: space-between;
        li {
            padding-left: 30px;
            &:nth-child(1) {
                grid-column: 1;
            }
            &:nth-child(2) {
                grid-column: 2;
            }
            &:nth-child(3) {
                grid-column: 3;
            }
            &:nth-child(4) {
                grid-column: 4;
            }
        }
        
    }
}

#contents {
    #mainContents {
        h2 {
            text-align: center;
            border-bottom: 1px solid #888;
            padding: 30px;
            margin-bottom: 20px;
        }
    
        ul {
            display: grid;
            grid-template-columns: repeat(3, 30%);
            justify-content: space-between;
            > li {
                text-align: center;
                border: 1px solid #333;
                padding: 50px 30px;
                background-color: pink;
            }
        }
    }
   
}